@import url('http://weloveiconfonts.com/api/?family=fontawesome');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Sans+Pro|Libre+Baskerville|NTR');

/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
    font-weight: 300;
    font-size: 1em;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 1em;
}

h2, h3 {
    font-family: 'Open Sans', sans-serif
}
nav {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    height: 5vh;
}

h1 {
    position: absolute;
    top: 206px;
    left: 50vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 30pt;
    color: rgb(103,230,134);
}

#caneva {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: rgb(103,230,134);
    z-index: -5;
}

#fond {
    background: url('images/pelleas.jpg') no-repeat 50% 40% fixed;
    background-size: cover;
    opacity: 0.95;
    width: 100%;
    height: 100%;
}
#fond:after {
    content: ' ';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
}

#menuDiv {
    display: inline-block;
    margin: 3em 0 0 40vw;
    padding: 0;
}

#menu {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: white;
}

#menu > li {
    display: inline-block;
    margin-right: 2em;
    padding-bottom: 0.6em;
    border-bottom: none;
    transition: all 300ms ease;
}

#menu > li:hover {
    cursor: pointer;
    border-bottom: 1px solid rgb(103,230,134);
    padding-bottom: 0.3em;
}

#menu > li > a {
    color: inherit;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
}

#menu > li .submenu {
    position: absolute;
    left: inherit;
    top: 12vh;
    opacity: 0;
    background-color: rgba(0,0,0,0);
    list-style-type: none;
    padding: 0.3em 0.3em 0 0;
    z-index: -5;
    transition: all 800ms ease;
}

#menu > li:hover .submenu {
    opacity: 1;
    z-index: 0;
    transition: all 300ms ease;
}

#menu > li .submenu > li {
    display: block;
    margin: 0.5em 2em 0 0;
    padding-bottom: 0.6;
    transition: all 800ms ease;
}

#menu > li .submenu > li > a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    color: white;
    padding: 0;
    margin: 0;
}

#menu > li .submenu > li > a:hover {
    padding-bottom: 0.3em;
    border-bottom: 1px solid rgb(103,230,134);
}

#abon {
    display: inline-block;
    border: 1px solid white;
    padding: 0.8em 1.4em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    text-decoration: none;
    transition: all 300ms ease;
}

#abon:hover {
    color: rgb(103,230,134);
    border-color: rgb(103,230,134);
}

#logo {
    position: absolute;
    top: 0;
    left: 2vw;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    background-color: rgb(103,230,134);
    font-family: 'NTR', sans-serif;
    font-size: 24pt;
    color: rgb(70, 70, 70);
}

#logo #nom {
    position: absolute;
    top: 1.5em;
    left: 0.2em;
}

footer {
    position: absolute;
    bottom: 0;
    clear: both;
    height: 10vh;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

#contact {
    position: relative;
    bottom: 0;
    left: 75vw;
    margin: 0;
    padding: 0;
}
#contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#contact ul > li {
    display: inline-block;
    margin-right: 2em;
    color: white;
}

#contact > ul > li > a {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: inherit;
    padding-bottom: 0.6em;
    border-bottom: none;
    transition: all 300ms ease;
}

#contact ul > li > a#cont:hover {
    padding-bottom: 0.3em;
    border-bottom: 1px solid rgb(103,230,134);
}

#fcbk {
    display: inline-block;
    height: 30px;
    width: 30px;
}

#fcbk:hover {
    border-bottom: none;
    padding-bottom: 0.6em;
}

#fcbk svg {
    fill: white;
    margin-bottom: -10px;
    transition: all 300ms ease;
}

#fcbk svg:hover {
    fill: rgb(103,230,134);
}

#contenu {
    position: static;
    width: 100vw;
    display: block;
    line-height: 1.35em;
}

#contenu a {
    color: rgb(51, 168, 81);
    text-decoration: none;
}

.contSec {
    float: left;
    min-height: 100vh;
    margin: 0;
}

.contSec h2 {
    width: 100%;
    font-size: 20pt;
    font-weight: 100;
    padding-bottom: 0.3em;
    color: rgb(37, 57, 57);
    border-bottom: 1px solid rgb(103,230,134);
}

.contSec h3 {
    font-size: 14pt;
    font-weight: bold;
}

#nouvelles {
    width: 41vw;
    padding: 2em 12vw 2em 7vw;
}

#nouvelles h3 {
    margin-top: 2em;
}

#parution {
    width: 28vw;
    height: inherit;
    padding: 2em 7vw 2em 5vw;
    background-color: rgb(240,240,240);
}

.pubDesc {
    margin-left: 3em;
}
.pubDesc h3 {
    padding: 0.8em 0 0;
    margin: 0;
    line-height: 0.9em;
}

.pubDesc sub {
    line-height: 0.9em;
    font-style: italic;
}

.pubDesc .sommaire {
    display: block;
    margin-top: 1.2em;
}

.pubDesc img {
    float: right;
    width: 10em;
    margin: 0 0 0 1em;
}

@media (min-width:600px) {
    #menuDiv > span {
        display: none;
    }
}

@media (max-width:599px) {
    h1 {
        font-size: 2.1em;
        width: 50vw;
        left: 5vw;
    }
    #logo {
        font-size: 16pt;
    }
    #menuDiv {
        top: 0;
        left: 0;
        height: 0;
        width: 100vw;
        overflow: hidden;
        margin: 0;
        padding: 0;
        z-index: 10;
        background-color: rgba(0,0,0,0.85);
        transition: height 500ms ease;
    }
    #menuDiv > span {
        display: block;
        position: absolute;
        top: 4vh;
        right: 8vw;
        color: white;
        font-size: 2.1em;
        cursor: pointer;
    }
    #menuDiv.active {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;                
    }

    #menu {
        display: block;
        margin: 10em 0 2em 5em;
    }

    #menu > li {
        display: block;
        line-height: 2em;
    }

    #menu > li .submenu {
        position: static;
        display: block;
        height: 0;
        overflow: hidden;
        line-height: 1.2em;
        opacity: 0;
        z-index: -15;
        transition: height 200ms linear;
    }

    #menu > li:hover {
        border-bottom: none;
    }

    #menu > li:active .submenu, #menu > li:hover .submenu {
        height: 8em;
        margin: 0.6em;
        opacity: 1;
        z-index: 0;
        transition: height 600ms ease;
    }

    #abon {
        display: block;
        width: 20vw;
        margin: 0 0 0 5em;
    }
    #contact {
        left: 5vw;
        bottom: 2vh;
    }

}
